{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <span class="{{ category }}">{{ message }}</span>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div>
        Enter some text below from which indicators of compromise will be parsed using the <a href="https://github.com/fhightower/ioc-finder">https://github.com/fhightower/ioc-finder</a> project:
        <br><br>
        <form action="{{ url_for('find_iocs') }}" method="post">
            <textarea type="text" name="text" placeholder="Enter some text from which indicators of compromise will be parsed..." rows="20"></textarea>
            <input type="submit" class="button blue">
        </form>

        <br><br>
    </div>
{% endblock %}
